{% extends "base.html" %}

{% block section_title %}Wallets{% endblock %}

{% block head -%}
  {% block subhead -%}{% endblock -%}
{% endblock -%}

{% block content %}

<div class="row">
  <div class="col-lg-3">
    <div class="list-group" style="background-color: #f7f5fa;">
      <a id="new" href="{{ url_for('new_wallet') }}" class="list-group-item"><i class="glyphicon glyphicon-plus-sign"></i> New</a>
      <a id="list" href="{{ url_for('wallets') }}" class="list-group-item"><i class="glyphicon glyphicon-credit-card"></i> Wallets</a>
      <a id="contacts" href="{{ url_for('wallet_contacts') }}" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Contacts</a>
    </div>

    {% if key -%}
      <div class="panel panel-default">
	<div class="panel-heading">{{key.uids.0}}</div>
	<div class="list-group" style="background-color: #f7f5fa;">
	  <a id="history" href="{{ url_for('wallet_history', pgp_fingerprint=key.fingerprint) }}" class="list-group-item"><i class="glyphicon glyphicon-calendar"></i> History</a>
	  <a id="transfer" href="{{ url_for('wallet_transfer', pgp_fingerprint=key.fingerprint) }}" class="list-group-item"><i class="glyphicon glyphicon-transfer"></i> Transfer</a>
	  <a id="issuance" href="{{ url_for('wallet_issuance', pgp_fingerprint=key.fingerprint) }}" class="list-group-item"><i class="glyphicon glyphicon-cloud-download"></i> Issuance</a>
	</div>
      </div>
    {% endif -%}
  </div>
  <div class="col-lg-9">
    {% block sub_content %}{% endblock %}
  </div>
</div>

{% endblock %}

{% block foot %}
    <script type="text/javascript">
      $('body').ready(function () {
        var urls = {
          '/': 'list',
          '{{ url_for('new_wallet') }}': 'new',
          '{{ url_for('wallets') }}': 'list',
          '{{ url_for('wallet_contacts') }}': 'contacts',

	  {% if key -%}
            '{{ url_for('wallet_history', pgp_fingerprint=key.fingerprint) }}': 'history',
            '{{ url_for('wallet_history', pgp_fingerprint=key.fingerprint, type=type) }}': 'history',
            '{{ url_for('wallet_transfer', pgp_fingerprint=key.fingerprint) }}': 'transfer',
            '{{ url_for('wallet_issuance', pgp_fingerprint=key.fingerprint) }}': 'issuance',
	  {% endif -%}
        };

        var matches = window.location.pathname.match(/^(\/[^?]*)/g);
        $('#' + urls[matches[0]]).addClass('active');
      });
    </script>

    {% block subfoot %}{% endblock %}
{% endblock %}
