[Desktop Entry]
Version=0.32.10post1
Name=Sakia
Comment=Duniter Qt Client
Exec=sakia
Icon=/opt/sakia/sakia.png
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=x-scheme-handler/duniter
